<!DOCTYPE html>
<html>
<head>
  <title>Real</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://hub.loginradius.com/include/js/LoginRadius.js"></script>
<script type="text/javascript"> var options={}; options.login=true; LoginRadius_SocialLogin.util.ready(function () { $ui = LoginRadius_SocialLogin.lr_login_settings;$ui.interfacesize = "";$ui.apikey = "d92c9435-56ed-4d02-91fc-e8ed1f4f294e";$ui.callback=""; $ui.lrinterfacecontainer ="interfacecontainerdiv"; LoginRadius_SocialLogin.init(options); }); </script>


</head>
<body>
<p class="navbar-text pull-right">

<%= yield %>

</body>
</html>
